* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main_body {
    background-color: rgb(247, 248, 249);
}

/* HEADER */

.page_header {
    font-size: 40px;
    background: white;
    margin-bottom: 40px;
}

.main_logo {
    padding: 10px 0px 10px 20px;
    vertical-align: middle;
    background-color: white;

}

.main_title {
    background-color: white;
}


/* MAIN PAGE */


/* NAV BAR */

.nav_bar {
    background-color: white;
    padding: 10px 50px;
    max-width: 700px;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.task_button {
    padding: 10px 13px;
    background-color: rgb(71, 172, 241);
    border: none;
    border-radius: 6px;
    color: white;
}

.selection_button {
    padding: 9px 13px;
    background-color: white;
    border: solid 1px grey;
    border-radius: 6px;
    color: grey;
}

/* TODO LIST */

.todo_list {
    background-color: white;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 2px;
    padding: 10px 50px;
    padding-top: 40px;
}

.list_style {
    list-style: none;
    margin-bottom: 20px;
}

.list_style_nested{
    list-style: none;
    padding-left: 10px;
}

.sub_list {
line-height: 40px;}

.open_task {
    padding-right: 5px;
    font-size: 12px;
}

.bold_text {
    font-weight: bold;
}

.check-box_green{
    border-radius: 50% ;
    border: 1px solid green;
    color: green;
    padding: 1px 4px;
    font-size: 10px;

}

.check-box_red{
    border-radius: 50% ;
    border: 1px solid red;
    color: red;
    padding: 1px 5px;
    font-size: 10px;
}

.label {
    border-radius: 8px;
    border: none;
    padding: 5px 7px;
    color: white;
    font-size: 10px;
    margin-left: 5px;
    
}

/* LABEL COLORS */

.blue_label {
    background-color: rgb(71, 172, 241);
}

.purple_label {
    background-color: rgb(155, 114, 229);
}

.green_label {
    background-color: rgb(100, 192, 168);
}

.orange_label {
    background-color: rgb(242, 157, 52);
}

.pink_label {
    background-color: rgb(217, 99, 160);
}

.green_label {
    background-color: rgb(173, 201, 37);
}